<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKpds7UtlBWX2yBIhNL1MZ3VuaBslRwKc</string>
	<key>GCM_SENDER_ID</key>
	<string>444106479093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AgroApp.ios</string>
	<key>PROJECT_ID</key>
	<string>agroapp-4ee5f</string>
	<key>STORAGE_BUCKET</key>
	<string>agroapp-4ee5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444106479093:ios:7280d81e630d5c22597cbc</string>
</dict>
</plist>